<footer class="">
  <div class="container text-center">
    <hr class="bg-gradient-dark h-px mb-6">
    <p>Guido Knook</p>
    <ul class="uppercase tracking-wide leading-loose pb-8">
      <li class="md:inline pr-4">
        <a href="index.html" class="text-grey text-xs {%if activePage == 'index' %} active {% endif %}">About</a>
      </li>
      <!--<li class="md:inline pr-4">
        <a href="products.html" class="text-grey text-xs {%if activePage == 'products' %} active {% endif %}">Products</a>
      </li>
      <li class="md:inline pr-4">
        <a href="reading.html" class="text-grey text-xs {%if activePage == 'reading' %} active {% endif %}">Reading</a>
      </li>-->
      <li class="md:inline pr-4">
        <a href="https://medium.com/@gknook" class="text-grey text-xs {%if activePage == 'writing' %} active {% endif %}">Writing</a>
      </li>
    </ul>
  </div>
</footer>
</body>
</html>