<!--nav.html -->
  <nav class="flex justify-between flex-wrap bg-transparent py-6 md:py-20 md:mb-6 z-10" style="position:relative;">
    <div class="container">
      <div class="flex flex-shrink-0 text-grey-dark mr-6 mt-1 md:inline-block">
        <span class="font-semibold text-blue-lighter text-2xl tracking-normal md:inline-block"><a href="index.html">Guido Knook</a></span>
      </div>
      <ul class="float-left md:float-right hidden md:flex-grow md:w-auto md:inline-block text-sm text-center">
        <!-- <li class="md:flex-grow md:inline-block ">
          <a href="index.html" class="nav-item md:inline-block md:mt-0 {%if activePage == 'index' %} active {% endif %}">
            About
          </a>
        </li>
          
        <li class="md:flex-grow md:inline-block ">
          <a href="product.html" class="nav-item md:inline-block md:mt-0 {%if activePage == 'product' %} active {% endif %}">
            Product
          </a> 
        </li>
          -->
        <li class="md:flex-grow md:inline-block ">
          <a href="reading.html" class="nav-item md:inline-block md:mt-0">
            Reading
          </a>
        </li>
        <li class="md:flex-grow md:inline-block over">
          <a href="https://medium.com/@gknook" class="nav-item md:inline-block md:mt-0">
            Writing
            <!-- <img class="object-contain opacity-75 pl-2 -mt-1 -mr-2 h-3 inline-block" src="img/button_medium.png" /> -->
          </a>
        </li>
      </ul>
    </div>
  </nav>